body {
    color: white;
    background-color: black;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 70px;
    margin-left: 170px;
}
 
section div img {
    border-radius: 70px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div button {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    color: black;
   text-decoration: none; 
   cursor: pointer;
}

div button:hover {
    transition: 1s solid purple;
}