* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.projetos {
    background-color: #191919;
    padding-bottom: 100px;
    padding-top: 50px;
}

.projetos h2 {
    color: white;
    font-size: 75px;
    margin-left: 270px;
}

section {
    background-color: black;
}

.card {
    color: white;
    background-color: black;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.card .image-logo {
    height: 80px;
}

.card img {
    height: 100px;
}

.card h5 {
    font-size: 25px;
}

.card p {
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 15px;
}

.card a {
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
  background-color: purple;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid purple;
}

.card-projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.display {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .projetos h2 {
        font-size: 50px; /* Reduzir o tamanho da fonte do título em telas menores */
        margin-left: auto; /* Centralizar o título */
        margin-right: auto; 
        text-align: center; /* Centralizar texto */
        padding-bottom: 20px; /* Espaçamento abaixo do título */
    }

    .card-projetos,
    .display {
        flex-direction: column; /* Empilhar os cards verticalmente */
        align-items: center; /* Centralizar os cards horizontalmente */
        width: 100%; /* Garantir que o contêiner ocupe toda a largura */
        margin-left: auto; 
        margin-right: auto; 
        padding-left: 10px; /* Adicionar um pouco de espaço nas laterais */
        padding-right: 10px; 
        gap: 20px; /* Espaçamento entre os cards empilhados */
    }

    .card {
        width: 90%; /* Ajustar a largura dos cards para ocupar mais espaço na tela menor */
        max-width: 335px; /* Limitar a largura máxima dos cards */
        margin-bottom: 20px; /* Margem entre os cards empilhados */
        height: auto; /* Permitir que a altura se ajuste automaticamente */
        padding-top: 10px; /* Ajustar o preenchimento superior se necessário */
        padding-bottom: 10px; /* Ajustar o preenchimento inferior se necessário */
    }
}